<launch>
  <arg name="rviz" default="false" />
  <arg name="config_file" default="backend_occlusion.yaml" />

  <arg name="frontend_launch" default="$(find fast_livo)/launch/mapping_m3dgr_occlusion.launch" />
  <arg name="frontend_config" default="$(find fast_livo)/config/m3dgr_occlusion.yaml" />
  <arg name="camera_config" default="$(find fast_livo)/config/camera_pinhole_m3dgr.yaml" />
  <arg name="rviz_config" default="$(find fast_livo)/rviz_cfg/fast_livo2.rviz" />

  <node name="$(anon image_transport_republish_occlusion)"
        pkg="image_transport"
        type="republish"
        args="compressed in:=/camera/color/image_raw raw out:=/camera/color/image_raw" />

  <rosparam command="load" file="$(arg frontend_config)" />

  <node pkg="fast_livo" type="fastlivo_mapping" name="laserMapping" output="screen">
    <rosparam file="$(arg camera_config)" />
  </node>

  <node pkg="livo_backend" type="livo_backend_node" name="livoBackend" output="screen">
    <rosparam file="$(find livo_backend)/config/$(arg config_file)" />
  </node>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" />
  </group>
</launch>
